<!doctype html>
<html>
<head>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">
    <title>RESTfudge</title>
</head>
<body>
    <div class='container'>
        <div class='text-center'>
            <h1>RESTFudge</h1>
            <h4>A RESTful web API and UI for ImageFudge</h4>
        </div>
        <div class='row'>
            <div class='col-md-5'>
                <h2>Fudge an Image</h2>
                <div class='well'>
                    <form action='' method='POST' enctype='multipart/form-data'>
                        <input type='file' name='file' value='Pick a File' />
                        <input type='submit' value='Upload' class='btn btn-primary' />
                    </form>
                </div>
            </div>
            <div class='col-md-7'>
                <h2>Uploaded Images</h2>
                <div class='well'>
                    <ul>
                    {% if data[0] is defined %}
                        {% for item in data %}
                            <li> {{ item }} </li>
                        {% endfor %}
                    {% else %}
                        <h4> No uploaded files </h4>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
